<!DOCTYPE html>
<html>
<head>
    <title>All Expenses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<h1>Expense Tracker</h1>



{% include "_expenses_table.html" %}

<br>
<a href="{{ url_for('expenses.add_expense') }}">➕ Add Another Expense</a><br>
<a href="{{ url_for('manage.management') }}">⬅ Back to Management</a>

<script id="categories-data" type="application/json">{{ categories | tojson | safe }}</script>
<script id="users-data" type="application/json">{{ users | tojson | safe }}</script>

<script>
    window.urls = {
        addExpense: "{{ url_for('expenses.add_expense') }}",
        manageCategories: "{{ url_for('categories.manage_categories') }}",
        manageUsers: "{{ url_for('users.manage_users') }}"
    };
</script>


<script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/expense-table-manager.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>